<div class="latest_posts">
<h1 class="title">404</h1>
<h3>Ohw Snap!</h3>
<p>Did you hit a on our website to get this page?... of so tell us about it, and we'll get on that.</p>
<p>Did you type that Url in? it doesnt seem to match our records, try our home page, or the menu to the right instead :) </p>
<p><strong>Cheers.</strong></p>
</div>