<div class="row-fluid">
	<div class="span3 left-col" id="top-left">
	</div>
	<div class="span7 center-col" id="top-center">
		<div class="inner">
			<a href="/">
				<h1 class="title"><%= title %></h1>
			</a>
			<p>Welcome to <%= title %></p>
			<small>Shit be Real, Holmes.... Real.</small>
		</div>
	</div>
	<div class="span2 right-col" id="top-right">
	</div>
</div>