<!--<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  </div>
</div>-->
<%- stylesheet_link_tag("css/css1", "css/css2") %>
<div class="container-fluid" id="sitebox">
	<div class="row-fluid">
		<div class="span3 left-col" id="left">
			<div class="well">
			[Side Menu Content]
			</div>
		</div>

		<div class="span7 center-col" id="center">
			<div id="content">
		  		<h1 class="title"><%= title %></h1>
		  		<p>Welcome to <%= title %></p>
		  		<small>Shit be Real, Holmes.... Real.</small>
			
		  		
	  		</div>
  		</div>
  		<div class="span2 right-col" id="right">
  		[SideBar]
  		</div>
  	</div>
</div>
<div class="container-fluid" id="footer-row">
	<div class="span2" id="footer">
	[Footer Area]
	</div>
</div>